html{
  height: 100%;
  background-color: #fbe192;
  overflow: auto;
}
body {
  position: relative;
  height: auto;
  min-height: 100% !important;
  background-color: #fbe192;         /* optional, center the image */
}
h1{
  color: black;
  position: relative;
  text-align: center;
  margin-top: 3%;
  font-size: 50px;
}

.header{
  display: flex;
  margin-bottom: 0px;
}

#log_out{
  color: black; 
  position: absolute; 
  right: 3%;
  margin-top: 10px;
  margin-right: 2%;
  font-style: italic; 
  text-decoration: none;
  /* margin-bottom: 40px; */
}

.breadcrumb{
  position: relative;
  margin-left: 5%;
  margin-top: 0px;
  /* margin: 50px 50px 75px 50px; */
  /* padding: 10px 16px; */
  list-style: none; 
  background-color: transparent;
  height: 40px;
}

.breadcrumb li {
  display: inline;
  font-size: 18px;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb li a:after{
  color: black;
  text-decoration: none;
}

.divider{
  position: relative;
  margin-left: 7%;
  margin-right: 3%;
  width: auto;
  height: 3px;
  background-color: gray;
}

.buttonAdd{
  position: relative;
  margin: 0px 0px 20px 75%;
  background-color: coral;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  border: 3px solid rgb(250, 76, 12);
}

.buttonAdd:hover{
  background-color: rgb(201, 99, 62);
}

.tabla{
  position: relative;
  margin: 0px 5% 5% 8%;
  border: 1px solid black;
  background-color: white;
  width: 85%;
  height: auto;
}
.encabezados{
  border: 10px black;
  background-color: cadetblue;
  text-align: left;
  padding: 6px;
  color: black;
}
.datos{
  border: 1px solid gray;
  text-align: left;
  padding: 6px;
  color: black;
}

.type {
  position: relative;
  margin: -8px 55px 8px;
}

.presentacion{
  position: relative;
  display: flex;
  margin: 2% 100px 35px;
  /* padding: 10px 16px; */
  list-style: none; 
}

.presentacion li {
  padding: 0px 12% 0px;
  font-size: 18px;
}

.btn{
  display: inline-block;
  /* background-color: white; */
  /* color: white; */
  /* height: 34px;
  width: 14px; */
}

.btn_check img{ 
  display: block;
  height: 25px;  
  width:25px;
}

.btn_check :hover{
  background-color: greenyellow;
}

.btn_check:focus{
  background-color: greenyellow;
}


/* .btn :hover{
  background-color: red;

} */

#delete_button{
  display: block;
  height: 25px;  
  width:25px;
}

.desde_hasta{
  position: relative;
  display: flex;
  margin: 0px 5% 3% 17%;
  list-style: none; 
}

.desde_hasta li {
  margin: 0px 25% 0px 0px;
  font-size: 18px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .seen{
    color:rgb(64, 136, 224);
}

.positive {
    color: red;
}

.negative {
    color: black;
}