<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="nomina-year.component.css">
    </head>
    <body>
        <h1>Portal de clientes</h1>
        <button>Cerrar Sesion</button>
        <h3>Desde</h3>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>
        <!--Hasta-->
        <h3>Hasta</h3>
        <div class="dropdown">
            <button  class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>
    </body>

</html>