<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="nominas.component.css">
    </head>
    <body>
        <h1>Portal de clientes</h1>
        <button>Cerrar Sesion</button>
        <div class="menu">
            <div class="class1">
                <a class="boton" (click)="this.goNominaYear();">
                    <img src="../../assets/folderIcon.png" alt="inbox image" >
                    <br>
                    <label>2021</label>
                </a>
            </div>
            <div class="class2">
                <a (click)="this.goNominaYear();" class="boton">
                    <img src="../../assets/folderIcon.png" alt="inbox image" >
                    <br>
                    <label>2020</label>
                </a>
            </div>
            <div class="class3">
                <a class="boton" (click)="this.goNominaYear();">
                    <img src="../../assets/folderIcon.png" alt="inbox image" >
                    <br>
                    <label>2019 y anteriores</label>
                </a>
            </div>
        </div>
    </body>
    
</html>