html{
    height: 100%;
    background-color: #fbe192;
    overflow: auto;
}
body {
    position: relative;
    height: auto;
    min-height: 100% !important;
    background-color: #fbe192;         /* optional, center the image */
}
h1{
    color: black;
    position: relative;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 50px;
}
.header{
    display: flex;
}
h3{
    position: relative;
    margin-left: 7%;
}

#log_out{
    color: black; 
    position: relative; 
    margin-left: 70%;
    margin-top: 10px;
    font-style: italic; 
    text-decoration: none;
    /* margin-bottom: 40px; */
}
.presentacion{
    position: relative;
    margin-left: 7%;
    margin-right: 3%;
    /* top: 140px;
    left: 100px; */
    /* width: 1290px; */
    width: auto;
    height: 3px;
    background-color: gray;
}

ul{
    list-style: none;
    display: flex;
}

ul li{
    margin-top: 5%;
    flex: 50%;
    margin-left: 10%;
}

ul li a{
    font-weight: bold;
    color: black;
    font-style: normal;
}

img{
    width: 200px;
    height: 200px;
    margin-bottom: 3%;
    display: block;
    margin-left: -15%;
}